/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_fr_canadian_french.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    macros {
        BT_PROFILE: BT_PROFILE {
            // ...

            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>; // Must be 1
            bindings = <&out OUT_BLE &macro_param_1to2 &bt BT_SEL MACRO_PLACEHOLDER>;
        };
    };

    combos {
        compatible = "zmk,combos";

        SO_AT {
            bindings = <&kp FR_AT_SIGN>;
            key-positions = <24 2>;
            timeout-ms = <60000>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC         &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                                               &kp N6         &kp N7  &kp N8          &kp N9   &kp N0        &kp EQUAL
&kp TAB         &kp Q   &kp W   &kp E     &kp R     &kp T                                                &kp Y          &kp U   &kp I           &kp O    &kp P         &kp MINUS
&kp LEFT_SHIFT  &kp A   &kp S   &kp D     &kp F     &kp G                                                &kp H          &kp J   &kp K           &kp L    &kp SEMI      &kp SQT
&kp LCTRL       &kp Z   &kp X   &kp C     &kp V     &kp B   &kp FR_LEFT_BRACKET    &kp FR_RIGHT_BRACKET  &kp N          &kp M   &kp COMMA       &kp DOT  &kp FR_SLASH  &kp FR_GRAVE
                                &kp LGUI  &kp LALT  &mo 2   &kp SPACE              &kp RET               &kp BACKSPACE  &mo 1   &kp FR_E_ACUTE
            >;
        };

        lower_layer {
            bindings = <
&out OUT_USB  &BT_PROFILE 0     &BT_PROFILE 1      &BT_PROFILE 2      &BT_PROFILE 3  &BT_PROFILE 4                                                       &trans        &trans     &trans           &trans    &bt BT_CLR  &trans
&kp F1        &kp F2            &kp F3             &kp F4             &kp F5         &kp F6                                                              &kp F7        &kp F8     &kp F9           &kp F10   &kp F11     &kp F12
&kp GRAVE     &kp EXCL          &kp AT             &kp HASH           &kp DOLLAR     &kp PRCNT                                                           &kp CARET     &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR    &kp TILDE
&trans        &ext_power EP_ON  &ext_power EP_OFF  &ext_power EP_TOG  &trans         &trans         &kp FR_LEFT_PARENTHESIS    &kp FR_RIGHT_PARENTHESIS  &trans        &kp MINUS  &kp KP_PLUS      &kp LBRC  &kp RBRC    &kp PIPE
                                                   &bootloader        &trans         &trans         &kp FR_SLASH               &kp FR_BACKSLASH          &out OUT_TOG  &trans     &trans
            >;
        };

        raise_layer {
            bindings = <
&trans     &trans  &trans  &trans   &trans   &trans                                                  &trans       &trans     &trans     &trans     &trans    &trans
&kp GRAVE  &kp N1  &kp N2  &kp N3   &kp N4   &kp N5                                                  &kp N6       &kp N7     &kp N8     &kp N9     &kp N0    &trans
&kp F1     &kp F2  &kp F3  &kp F4   &kp F5   &kp F6                                                  &kp LEFT     &kp DOWN   &kp UP     &kp RIGHT  &trans    &trans
&kp F7     &kp F8  &kp F9  &kp F10  &kp F11  &kp F12  &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &kp KP_PLUS  &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH
                           &trans   &trans   &trans   &trans                  &trans                 &trans       &trans     &trans
            >;
        };
    };
};
